html, body {
  margin: 0;
  padding: 0;
  background: radial-gradient(#70e1f5, #ffd194);
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  margin: auto;
  padding: 20px 0;
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-family: monospace;
  font-weight: bold;
  color: grey;
}

nav {
  margin: auto;
  width: 100%;
  text-align: center;
}

button {
  width: 100px;
  height: 30px;
}
.tiles {
  padding: 0;
  margin: 0;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  float: left;
  text-align: center;
  width: 98px;
  height: 98px;
}

.pane {
  margin: 40px auto;
  width: 400px;
  height: 400px;
  background-image: url('images/background.jpg');
  background-size: 400px 400px;
  background-repeat: no-repeat;
}
