/*
Assignment #1 Part 1
Written by: Tiffany Le-Nguyen
For 420-423-DW Internet Applications II – Winter 2017
https://sirmerr.github.io/JSClass/Projects/Memory%20Game/
*/
html, body {
  margin: 0;
  padding: 0;
}

body {
	background: linear-gradient(to right, rgba(255,0,0,0.1), rgba(0,0,255,0.1)), url('images/stripes.png');
}
header {
  margin: auto;
  padding: 20px 0;
  width: 100%;
  text-align: center;
  font-size: 40px;
  font-family: monospace;
  font-weight: bold;
  color: grey;
}

nav {
  margin: auto;
  width: 100%;
  text-align: center;
}

button {
  width: 100px;
  height: 30px;
}

img {
	width: 108px;
  height: 108px;
}
.tiles {
  padding: 0;
  margin: 0;
  border-style: solid;
  border-color: blue;
  border-width: 1px;
  float: left;
  text-align: center;
  width: 108px;
  height: 108px;
}

.pane {
	position: relative;
  margin: 40px auto;
  width: 440px;
  height: 440px;
}

.layer2 {
	position: absolute;
  width: 440px;
  height: 440px;
	z-index: -1;
	background-size: 440px 440px;
	background-image: url('images/background.jpg');
	background-repeat: no-repeat;
	border-width: 1px;
	border-style: solid;
	border-color: blue;
}

.layer2 img {
	padding: 0;
  margin: 0;
  border-style: solid;
  border-color: blue;
  border-width: 1px;
  float: left;
  text-align: center;
  width: 108px;
  height: 108px;
	background-color: pink;
}

p {
	font-family: monospace,sans-serif;
	background-color: lightblue;
	padding: 6px;
	margin: 30px;
	width: 20%;
	float: left;
}

h1 {
	z-index: 1;
	margin: 0;
	font-size: 20px;
	position: absolute;
	color: blue;
	width: 108px;
  height: 108px;
}
