/*
 * Assignment #2
 * @author Tiffany Le-Nguyen
 * For 420-423-DW Internet Applications II – Winter 2017
 */
* {
    box-sizing: border-box;
}
 body {
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23cecece' fill-opacity='0.4'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
 }

h2 {
    text-transform: uppercase;
}
/* about.html */
.index {
    background: url('weather.png');
}

.welcome {
    /* www.heropatterns.com */
    background-color: #b1d6d8;
    background-image: url("data:image/svg+xml,%3Csvg width='180' height='180' viewBox='0 0 180 180' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M81.28 88H68.413l19.298 19.298L81.28 88zm2.107 0h13.226L90 107.838 83.387 88zm15.334 0h12.866l-19.298 19.298L98.72 88zm-32.927-2.207L73.586 78h32.827l.5.5 7.294 7.293L115.414 87l-24.707 24.707-.707.707L64.586 87l1.207-1.207zm2.62.207L74 80.414 79.586 86H68.414zm16 0L90 80.414 95.586 86H84.414zm16 0L106 80.414 111.586 86h-11.172zm-8-6h11.173L98 85.586 92.414 80zM82 85.586L87.586 80H76.414L82 85.586zM17.414 0L.707 16.707 0 17.414V0h17.414zM4.28 0L0 12.838V0h4.28zm10.306 0L2.288 12.298 6.388 0h8.198zM180 17.414L162.586 0H180v17.414zM165.414 0l12.298 12.298L173.612 0h-8.198zM180 12.838L175.72 0H180v12.838zM0 163h16.413l.5.5 7.294 7.293L25.414 172l-8 8H0v-17zm0 10h6.613l-2.334 7H0v-7zm14.586 7l7-7H8.72l-2.333 7h8.2zM0 165.414L5.586 171H0v-5.586zM10.414 171L16 165.414 21.586 171H10.414zm-8-6h11.172L8 170.586 2.414 165zM180 163h-16.413l-7.794 7.793-1.207 1.207 8 8H180v-17zm-14.586 17l-7-7h12.865l2.333 7h-8.2zM180 173h-6.613l2.334 7H180v-7zm-21.586-2l5.586-5.586 5.586 5.586h-11.172zM180 165.414L174.414 171H180v-5.586zm-8 5.172l5.586-5.586h-11.172l5.586 5.586zM152.933 25.653l1.414 1.414-33.94 33.942-1.416-1.416 33.943-33.94zm1.414 127.28l-1.414 1.414-33.942-33.94 1.416-1.416 33.94 33.943zm-127.28 1.414l-1.414-1.414 33.94-33.942 1.416 1.416-33.943 33.94zm-1.414-127.28l1.414-1.414 33.942 33.94-1.416 1.416-33.94-33.943zM0 85c2.21 0 4 1.79 4 4s-1.79 4-4 4v-8zm180 0c-2.21 0-4 1.79-4 4s1.79 4 4 4v-8zM94 0c0 2.21-1.79 4-4 4s-4-1.79-4-4h8zm0 180c0-2.21-1.79-4-4-4s-4 1.79-4 4h8z' fill='%23ffffff' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
    height: 500px;
    text-align: center;
    padding: 50px;
    display:inline-block;
}

.banner {
    line-height: 1;
    margin: 0;
    position: relative;
    z-index: 2;
    display: inline-block;
}

/* not cross-browser compatible :(
.banner-first:before {
    content: '';
    position: absolute;
    height: 65%;
    width: 100%;
    background: #1b1b1b;
    left: -1%;
    z-index: -1;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    top: 11%;

}*/

/*.banner-second:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: #1b1b1b;
    z-index: -1;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    top: -10%;
}*/

.outline-second {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #1b1b1b;
    z-index: -1;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    top: -10%;
}

.banner-second h2 {
    font-size: 4.7rem;
}


span {
    font-size: 4rem;
    font-family: 'keepcalm';
    text-shadow: 3px 3px 0 rgba(0,0,0,0.15);
    color: white;
    display: inline-block;
}

span h2 {
    margin: 0;
}

.tagline {
    font-size: 1.5rem;
    font-family: 'keepcalm';
}

.button {
    display: inline-block;
    font-size: 1.7rem;
    color: white;
    position: relative;
    line-height: 1;
    font-family: 'keepcalm';
    background-color: black;
    padding: 0.7rem 1rem;
    text-decoration: none;
}

.intro {
    display:inline-block;
    background: white;
    box-shadow: 0 0 0px 4px rgba(0,0,0,0.05);
    padding: 10px;
}

.firstHalf img {
    padding: 20px;
    float: left;
}

.secondHalf {
    text-align: left;
}

.secondHalf h2 {
    font-family: 'keepcalm';
}

.secondHalf p {
    font-family: sans-serif;
    font-size: 1.2rem;
}

.secondHalf a {
    margin: 0;
}

.steps {
    position: relative;
    margin-bottom: 10rem;
    overflow: hidden;
    height: 800px;
    margin-top: 7rem;
}

.steps:before {
    background-color: #f4cb30;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23ea9e38' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-size: 60px;
    height: 100%;
    content: '';
    width: 102%;
    position: absolute;
    transform: rotate(-2deg) translateX(-1%) translateY(10%);
}

.steps span {
    margin-top: 64px;
    margin-left: 100px;
    align-content: center;
}

.video {
    position: absolute;
    width: 90%;
    left: 6%;
    top: 20%;
}

.video .firstHalf {
    float: left;
    width: 50%;
}

.video .secondHalf {
    float: left;
    width: 50%;
    margin: 0;
}

.video p {
    margin: 0 20px 20px;
}

video {
    border: 2px solid darkgrey;
    width: 100%;
}

.aboutme {
    display:inline-block;
    margin-left: 50px;
    width: 95%;
    height: 450px;
    background: white;
    box-shadow: 0 0 0px 4px rgba(0,0,0,0.05);
    padding: 10px;
    margin-bottom: 10rem;
}

.aboutme img {
    float: left;
    height: 100%;
    margin-right: 40px;
}

.aboutme h2 {
    font-family: 'keepcalm';
}

.aboutme p, .aboutme ul {
    font-family: sans-serif;
    font-size: 20px;
}

.tags {
    list-style: none;
    cursor: pointer;
}
.tags li {
    float: left;
}

.outline {
    position: absolute;
    height: 65%;
    width: 100%;
    background: #1b1b1b;
    left: -1%;
    z-index: -1;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    top: 11%;
}

.tag {
    background: #f4cb30;
    display: inline-block;
    height: 25px;
    padding: 0 20px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.tag:hover {
    background: orange;
}

.secondHalf p a {
    font-size: 25px;
    color: black;
}

.secondHalf p a:hover {
    color: grey;
}
/* index.html */
.encryption {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.input {
    display: flex;
    flex-direction: column;
}

.output {
    display: flex;
    flex-direction: column;
}

.output textarea {
    background-color: white;
}
.grid {
    margin: 0 auto;
    width: 100%;
}

.send {
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.keysWrapper {
    display: flex;
    justify-content: center;
    /* emoji fonts, segoe ui and segoe ui emoji used for edge*/
    font-family: "Apple Color Emoji", "Segoe UI", "Segoe UI Emoji", "Segoe UI Symbol";
}
.gridWrapper {
    position: relative;
}

.key {
    font-size: 32px;
    width: 100px;
    height: 70px;
    text-align: center;
    background-color: white;
    /* emoji fonts, segoe ui and segoe ui emoji used for edge*/
    font-family: "Apple Color Emoji", "Segoe UI", "Segoe UI Emoji", "Segoe UI Symbol";

}

.keys {
    font-size: 32px;
}

.weather {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
}

.weather textarea {
    width: 100%;
    height: 100%;
}

.arrows {
    justify-content: space-between;
}

.emojisButton {
    background-color: #b8b8b8;
}

nav {
    display: flex;
}

td {
    border: 1px solid black;
    padding: 4px;
    text-align: center;
    vertical-align: middle;
    transition: transform 300ms ease-in-out;
    max-width: 44px;
}

td:hover {
    transform: scale(1.2);
}

table {
    border-collapse: collapse;
    background-color: rgba(255,255,255,0.6);
}

table * {
    cursor: pointer;
}

header {
  margin: auto;
  padding: 20px 0;
  width: 100%;
  text-align: center;
  font-size: 40px;
  font-family: monospace;
  font-weight: bold;
  color: white;
  background-color: rgba(230,174,143,0.2);
}

a {
    font-size: 30px;
    margin: 20px;
    color: white;
    font-family: monospace;
}

textarea {
    resize: none;
    font-size: 15px;
    padding: 10px;
}

/* Fonts */
@font-face {
    font-family: keepcalm;
    src: url('fonts/KeepCalm-Medium.ttf');
}