/*
 * Assignment #2
 * @author Tiffany Le-Nguyen
 * For 420-423-DW Internet Applications II – Winter 2017
 */
body {
    background: url('background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.encryption {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.input {
    display: flex;
    flex-direction: column;
}

.output {
    display: flex;
    flex-direction: column;
}

.output textarea {
    background-color: white;
}
.grid {
    margin: 0 auto;
    width: 100%;
}

.send {
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.keysWrapper {
    display: flex;
    justify-content: center;
    /* emoji fonts, segoe ui and segoe ui emoji used for edge*/
    font-family: "Apple Color Emoji", "Segoe UI", "Segoe UI Emoji", "Segoe UI Symbol";
}
.gridWrapper {
    position: relative;
}

.key {
    font-size: 32px;
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: white;
    /* emoji fonts, segoe ui and segoe ui emoji used for edge*/
    font-family: "Apple Color Emoji", "Segoe UI", "Segoe UI Emoji", "Segoe UI Symbol";

}

.keys {
    font-size: 32px;
}

.weather {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
}

.weather textarea {
    width: 100%;
    height: 100%;
}

.arrows {
    justify-content: space-between;
}

.emojisButton {
    background-color: #b8b8b8;
}

nav {
    display: flex;
}

td {
    /* trigger warning for jason */
    border: 1px solid black;
    padding: 4px;
    text-align: center;
    vertical-align: middle;
    transition: transform 300ms ease-in-out;
    max-width: 44px;
}

td:hover {
    transform: scale(1.2);
}

table {
    border-collapse: collapse;
    background-color: rgba(255,255,255,0.6);
}

table * {
    cursor: pointer;
}
header {
  margin: auto;
  padding: 20px 0;
  width: 100%;
  text-align: center;
  font-size: 40px;
  font-family: monospace;
  font-weight: bold;
  color: white;
  background-color: rgba(230,174,143,0.2);
}

a {
    font-size: 30px;
    margin: 20px;
    color: white;
    font-family: monospace;
}

textarea {
    resize: none;
    font-size: 15px;
    padding: 10px;
}