.encryption {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.input {
    display: flex;
    flex-direction: column;
}

.output {
    display: flex;
    flex-direction: column;
}

.grid {
    width: 50%;
    margin: 0 auto;
    margin-top: 30px;
}

td {
  border: 1px solid black;
  padding: 4px;
  text-align: center;
  vertical-align: middle;
  width: 20px;
  height: 20px;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}