* {
    /* Makes width and height take in account border c: */
    box-sizing: border-box;
}
body {
    background: url('weather.png');
}

.panels {
    margin: 90px auto;
    width: 80%;
    height: 450px;
    background-color: white;
    text-align: center;
    padding: 40px;
    box-shadow: 2px 2px 5px 2px #888888;
    position: relative;
    font-size: 27px;
}

.slideButtons {
    position: absolute;
    bottom: -40px;
    right: 0;
}
.inputExample, .outputExample {
    width: 30%;
    margin: 0 auto;
    border: solid 1px grey;

}

.inputExample {
    float: left;
    color: red;
}

.outputExample {
    float: right;
    color: green;
}

.keyExample {
    width: 100px;
    height: 40px;
}

h2, h3 {
    font-size: 20px;
}

.startButton {
    height: 40px;
    width: 150px;
    margin: 0 auto;
    font-size: 25px;
    visibility: hidden;
    display: block;
}
.slideButtons button {
    border-radius: 50%;
    height: 15px;
    margin: 10px;
    border: 1px solid grey;
    background-color: silver;
    float: left;
}

.slideButtons button:focus {
    background-color: darkcyan;
    outline: none;
}